<div id="container_p">
   <div class="container-fluid" id="top_section">
      <div class="notice" style="top: 5px">
         <% if flash[:notice] %>
            <div class="alert alert-success alert-dismissible show fade">
               <%= flash[:notice] %>
               <button type="button" class="close" data-dismiss="alert">
                  <span>&times;</span>
               </button>
            </div>
         <% end %>
      </div>   

      <div class="row">
         <p style="font-weight: bold; color: #fff; font-size: 60px" class="col-8 offset-2">Bienvenue<br> sur BusLink</p>
         <p class="col-8 offset-2 font-weight-bold text-light">Votre compagnie de voyage de confiance!<br>Que vous souhaitiez vous rendre dans une autre ville<br>pour affaires ou profiter d'une escapade relaxante,<br> BusLink est là pour vous accompagner.</p> 
         <% if user_signed_in? %>
            <p class="col-8 offset-2 font-weight-bold text-light">Voulez-vous tenter l'experience?  <span><%= content_tag :a, "Nos Voyages", href: travels_path, class: "btn btn-light" %></span></p>
         <% else %>
            <p class="col-8 offset-2 font-weight-bold text-light">Voulez-vous nous rejoindre?  <span><%= content_tag :a, "S'inscrire", href: new_user_registration_path, class: "btn btn-light" %></span></p>
         <% end %>
      </div>
   </div>
   <div class="container">
      <p style="font-weight: bold; font-size: 50px; text-align: center" >Notre mission</p> 

      <p class="font-weight-bold">Notre application web conviviale vous permet de réserver facilement vos voyages parmi notre vaste sélection d'itinéraires. En quelques clics, vous pouvez explorer les destinations disponibles, vérifier les horaires et effectuer votre réservation en toute simplicité. Nous nous efforçons de rendre votre expérience de réservation aussi fluide que possible, vous permettant ainsi de vous concentrer sur l'excitation de votre prochaine aventure.</p></br>

      <p class="font-weight-bold">Avec BusLink, vous bénéficiez de voyages sécurisés et confortables à bord de nos cars modernes et bien entretenus. Notre équipe de conducteurs expérimentés et courtois veillera à ce que votre trajet soit agréable et sans souci. De plus, notre réseau de stations bien situées facilite vos déplacements, en vous offrant un accès pratique à une multitude de destinations à travers le pays.</p></br>

      <p class="font-weight-bold">Nous comprenons l'importance de la flexibilité lors de vos déplacements. C'est pourquoi nous avons mis en place des fonctionnalités telles que la modification et l'annulation de réservation, vous offrant ainsi la liberté d'adapter vos plans selon vos besoins.</p></br>

      <p class="font-weight-bold">Rejoignez-nous dès maintenant sur BusLink et laissez-nous vous guider vers votre prochaine destination.  <span><%= content_tag :a, "S'inscrire", href: new_user_registration_path, class: "btn btn-dark" %></span></p>
   </div>
</div>
