<div class="container-fluid" id="top_section">
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

  <div style="padding: 100px 0px 0px 250px;">
    <p style="font-weight: bold; color: #fff; font-size: 60px">Welcome<br> on BusLink</p>
    <p style="font-weight: bold; color: #fff; font-size: 20px">Your trusted trucking company!<br> Whether you want to travel to another city<br> on business or enjoy a relaxing getaway,<br> BusLink is there to accompany you.</p> 
    <p style="font-weight: bold; color: #fff; font-size: 20px">Want to join us?  <span><%= content_tag :a, "Register", href: new_user_registration_path, class: "btn btn-light" %></span></p>
  </div>
</div>
<div class="container">
  <p style="font-weight: bold; font-size: 50px; text-align: center" >What we do</p> 

  <p style="font-weight: bold; font-size: 20px">Our user-friendly web application makes it easy for you to book travel from our vast selection of itineraries. With just a few clicks, you can explore available destinations, check schedules, and make your booking with ease. We strive to make your booking experience as seamless as possible, allowing you to focus on the excitement of your next adventure.</p></br>

  <p style="font-weight: bold; font-size: 20px">With BusLink, you'll enjoy safe, comfortable travel aboard our modern, well-maintained coaches. Our team of experienced and courteous drivers will ensure that your journey is pleasant and hassle-free. What's more, our network of conveniently located stations makes it easy for you to get around, offering convenient access to a multitude of destinations across the country.</p></br>

  <p style="font-weight: bold; font-size: 20px">We understand the importance of flexibility when traveling. That's why we've introduced features like reservation modification and cancellation, giving you the freedom to adapt your plans to suit your needs.</p></br>

  <p style="font-weight: bold; font-size: 20px">Join us now on BusLink and let us guide you to your next destination. <span><%= content_tag :a, "Register", href: new_user_registration_path, class: "btn btn-dark" %></span></p>
</div>
            <div class="copyright text_align_left">
               <div class="container">
                  <div class="row d_flex">
                     <div class="col-md-6">
                        <p style="color: #fff; font-size: 20px">© 2023 All Rights Reserved.   BusLink</p>
                     </div>
                     <div class="col-md-6">
                        <ul class="social_icon text_align_center">
                           <li> <a href="Javascript:void(0)"><i class="bi bi-facebook"></i></a></li>
                           <li> <a href="Javascript:void(0)"><i class="bi bi-twitter"></i></a></li>
                           <li> <a href="Javascript:void(0)"><i class="bi bi-linkedin" aria-hidden="true"></i></a></li>
                           <li> <a href="Javascript:void(0)"><i class="bi bi-instagram" aria-hidden="true"></i></a></li>
                           <li> <a href="Javascript:void(0)"><i class="bi bi-youtube" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>