<div class="container" style="padding-top: 150px">
    <p style="font-weight: bold; font-size: 170px" class="d-flex justify-content-center">Oops!</p>
    <p style="font-weight: bold; font-size: 50px" class="d-flex justify-content-center">500 - INTERNAL SERVER ERROR</p>
    <span class="d-flex justify-content-center"><%= link_to 'GO TO HOMEPAGE', root_path, class:"btn btn-outline-dark", style:"font-weight: bold;" %></span>
</div>